ul{
    text-align: left;
    padding-left: inherit;
}

li{
    list-style: none;
    color:rgba(128, 128, 128, 0.801);
}

.player{
    width: 20vw;
    border-radius:15px;
}
.underlined {
    border-bottom: 2px solid rgba(128, 128, 128, 0.801);
    border-top: 2px solid  rgba(128, 128, 128, 0.801);
    text-align: center;
    width:20vw;
        
}
.marginUnderlined{
    font-weight: bold;
    margin-top: 10px;
    
}
.smallEventsFriends{
    font-size: 1.2vw;
    font-style: italic;
    color: rgba(128, 128, 128, 0.801)
}
.userPosition{
    position: relative;
    width: 20vw;
    margin-left: 2vw;
    margin-top: 2vw;
}
.userPosition h6{
   font-size: 2vw;
}
.userPosition h4{
    font-size: 2vw;
 }
.userPosition li{
    font-size: 1.5vw;
 }