.tabTitle{
    margin-top: 1vw;
}
.containerFriends{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.friendTab{
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.699);
    margin: 5px;
    height:8vw;
    width:20vw;
    grid-row:auto;
    position: relative;
    
}

.friendTab col-8{
    margin-top: 1vw;
}
.friendTab h6{
    font-size:1.2vw;
    margin-bottom: 0.8vw;
    margin-left: 1vw;
}
.friendTab li{
    font-size:1.2vw;
    margin-left: 1vw;
}



.friend{
    height: 6vw;
    width: auto;    
    margin: 1vw 0vw 0vw 1vw;
}

